

article{
	padding: 0vh 20vh 20vh 20vh;
}

h1{
	padding-left: 12px;
}

.aboutme p{	
  color: black!important;
  text-align: left!important;
  padding-left: 20vw;
}

.content-padding{
   padding:20vh 10vw 15vh 7vw !important;
}

.full-background{
	 background-image: url("../img/s.png");
	 background-repeat:round;
	 opacity: 0.9;
}