
.contact-card{
	text-align: center;
	padding: 15vh 20vw 10vh 20vw;
	color: #F3F5F6;
	background-image: url("../img/home/3.jpg");
	background-repeat:repeat;
    background-size:contain;
}

.message{padding-top: 3vh;}

.contact-details{padding-top: 3vh;}

.back{background-color: black;opacity: 0.8;}

.content-padding a:hover{color:green;}

.content-padding{padding-bottom: 0!important;}

a{color: white;}

@media (min-width: 310px) and (max-width: 699px) { 
  .content-padding{padding-top: 20vh!important;}
  .contact-card{padding: 15vh 10vw 15vh 10vw;}
  .contact-details{padding-top: 1vh;}
  .logo{padding-top: 3vh;}
}

@media (min-width: 700px) and (max-width: 1023px) {
  .content-padding{padding-top: 20vh!important;}
  .contact-card{padding: 15vh 20vw 15vh 20vw;}
}	

