
.contact-card{
	background-color: #1A1E23;
	/*width: 60vh;*/
	/*height:45vh;*/
	text-align: center;
	padding: 10vh 5vw 5vh 5vw;
	/*margin-left:20vw;*/
	text-transform: uppercase;
	color: white;
}

a{
	text-decoration: none;
	color: white;
}

.content-padding a:hover{
	color:whitesmoke;
}

.content-padding{
	  text-align: center;
}

footer{
	background-color: #1A1E23!important;
}