#navigation {
  padding-top: 10vh;
}

#menu {
   display: block;
   width: 50vw;
   height: 100vh;
   top: 0;
   z-index: 9999;
   position:fixed;
   left: 85vw;
   background-color: black;
   opacity: 0.9;
   text-transform: uppercase;
}

/* Pushing the Menu off the canves */
#menu {
   left: 100vw; 
    -webkit-transition: left 1s;
    transition: left 1s;  
}

#nav1{
  padding-top: 20vh;
}

#menu ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#menu ul li {
  text-align: center;
  font-size:16px;
   /*border-bottom: 1px solid black;*/
}

#menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color:white;
}
  
#menu ul li a:hover,
#menu ul ul li a {
   padding: 10px 10px 10px 30px;
   /*background-color: pink;*/
}

#menu ul li a:hover{
  background-color: grey;
}
 
#menu ul ul li a:hover {
   padding: 10px 10px 10px 60px;
}
 
#menu ul li a,
#menu ul li a:hover,
#menu ul ul li a,
#menu ul ul li a:hover {
    -webkit-transition: padding 0.5s; /* Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}

.toggle {
   top: 5vh;
   right: 55vw; 
   padding:10px;
   position: absolute;
}

#toggle{
   display: none;
}

/*showing the menu then the Checkbox is checked */
#toggle:checked + #menu {
   left: 50vw;
    -webkit-transition: left 1s;   
    transition: left 1s;
}


#submenu ul li {
  border-bottom: 1px solid grey;
}

.dropdown{
  /*background-color: grey;*/
  /*opacity: 0.5;*/
 }

.dropdown li{
   font-size:14px !important;
 /*  font-style: italic !important;*/
}

/* Hiding the checkboxes so only the labels are visible */
input[id^="dropdown"],
ul[class^="dropdown"] {
   display: none;
}
 
input[id^="dropdown"]:checked + ul[class^="dropdown"] {
   height: auto;
   display: block;
}

@media (min-width: 700px) {
  #toggle:checked + #menu {
   left: 70vw;
  }
}

#menu {
   width: 30vw;
}

.toggle {
   right: 35vw; 
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
span{
  position: fixed;
  left:93vw;
  top:5vh;
}
#mySidenav li{
  text-transform: uppercase;
  list-style-type: none;
}


ul.dropdown a:hover{
  color: whitesmoke;
}

ul.dropdown{
  /*padding-left: 1vw;*/
  font-size: 120%;
}

@media (min-width: 300px) and (max-width:699px){
  
span{
  position: fixed;
  left:90vw;
  top:5vh;
}

@media (min-width: 700px) and (max-width:1040px){
  
span{
  position: fixed;
  left:90vw;
  top:5vh;
}
